<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        margin-left: 0 auto;
        width: 1000px;
    }
    .box{
        width: 150px;
        height: 150px;
        background-color: aqua;
        display: inline-block;
        margin: 10px;

    }
    .white{
        display: block;
    }
    h1 {
        margin-left: 300px;
    }
</style>

<body>
<h1>welcome!</h1>
<div class="white">
    {% for i in range(0,x,1): %}
        <div class="box"></div>
    {% endfor %}
</div>
</body>
</html>